@font-face {
	font-family: 'Mabry Pro';
	src: url(../../assets/fonts/Mabry%20Pro-dc312f3572b14fcf0181caeaa20116b1.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}